.vscode/settings.json
__pycache__/asciiart.cpython-38.pyc
__pycache__/battle.cpython-38.pyc
__pycache__/easybattle.cpython-38.pyc
__pycache__/locations.cpython-38.pyc
__pycache__/shops.cpython-38.pyc
__pycache__/upgrade.cpython-38.pyc
